.ecgf-registration .cmb-td.ajaxing .cmb2_select {
    background: url('/wp-includes/images/wpspin-2x.gif') no-repeat;
    background-size: contain;
}

.ecgf-registration .cmb-row.cmb-remove-field-row {
    display: none;
}

.cmb2-postbox .ecgf-registration .cmb-repeatable-group:not(:last-of-type),
.cmb2-postbox .ecgf-registration .cmb-row:not(:last-of-type) {
    border-bottom: none !important;
}

.cmb2-postbox .ecgf-registration.cmb2-wrap>.cmb-field-list>.cmb-row {
     padding: 5px 0;
}

.cmb2-postbox .ecgf-registration .cmb-row {
    padding-bottom: 0;
    margin-bottom: 10px;
}
